.theme-default-content:not(.custom) {
  max-width: 1000px;
}

.theme-default-content:not(.custom) li {
  margin-bottom: 16px;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 18px !important;
}

.sidebar-sub-headers a.sidebar-link {
  font-size: 16px !important;
}

h1, h2 {
  margin-bottom: 20px !important;
}

h3, h4 {
  margin-bottom: 16px !important;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.75;
}

img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.language-text {
  margin-bottom: 20px!important
}

.page 
  pre
    background-color #3C3A3A!important
  ul
    margin-left 32px
    padding-left 0px
    li
      margin-bottom 0px!important
      a
        font-weight 400
  h1
    font-weight bold
    font-size 48px
  h2
    font-weight bold
    .header-anchor
      float none
      opacity 1
      padding-left 16px
      padding-right 0px
      color #2c3e50
  h3
    font-weight bold
  code
    font-weight bold
    color rgba(red, 0.7)
  .custom-block
    padding-top 20px
    border-radius 4px
  .custom-block-title
    margin-bottom 8px
    display inline-block
  .my-icon
    width 20px
    margin 0 8px -5px 0
    display inline-block
  .brown
    color #b29400
  .page-nav
    max-width: 1000px;