.navbar {
  background-color: $gray;
  border-bottom: 0px;

  .sidebar-button {
    .icon {
      path {
        fill: white;
      }
    }
  }

  .site-name {
    color: white !important;
  }
}

.links {
  background-color: transparent !important;
}

.hero {
  display: none;
}

.home {
  height: calc(100vh - 58px);
  .theme-default-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 54px;

  #welcome-bi {
    position: fixed;
    top: 70px;
    left: 130px;
  }

  .welcome-left {
    width: calc(100%/ 2 - 130px);
    padding-left: 130px;
  }

  .welcome-right {
    width: calc(100%/ 2);
  }

  .home-title{
    font-size: 94px;
    font-weight: bold;
    color: #181a1f;
    letter-spacing: -8px;
  }

  .home-text {
    margin-bottom: 148px;
    font-size: 36px;
    font-weight: 300;
    color: #8398ab;
    letter-spacing: -1.62px;
  }

  button {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1.44px;
    background-color: #2e8afe;
    padding: 16px 60px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: $blue-hover;
  }
  
}

.sidebar {
  background-color: $sidebar;

  li {
    margin-top: 0 !important;
  }

  a.sidebar-link.active {
    color: $darkblue;
    border-left-color: $darkblue;
  }

  a.sidebar-link:hover {
    color: $darkblue;
  }

  &> .sidebar-links > li > a.sidebar-link, .sidebar-heading > span {
    font-size: 18px !important;
  }

  .sidebar-group-items > li > .sidebar-link {
    font-size: 16px !important;
  }

  .sidebar-sub-header {
    font-size: 14px !important;
  }
}

@media (min-width: 1200px) {

  .sidebar-sub-headers::before {
    content: 'Table of Contents';
    font-size: 18px;
    font-weight: bold;
    color: $main-gray;
    position: fixed;
    margin-top: -36px;
  }

  .sidebar-sub-headers {
    position: fixed;
    right: 0;
    top: 58px;
    width: 252px;
    height: 100%;
    padding-top: 52px !important;
  }

  .sidebar-sub-header {
    margin-left: 24px;

    .sidebar-link {
      padding-left: 8px !important;
      border-left: 2px solid rgba($main-gray, 0.1) !important;
    }

    .active{
        border-left: 2px solid $darkblue !important;
      }
  }

  .page {
    .theme-default-content, .page-nav {
      padding-right: calc(40px + 252px) !important;
    }
  }
}

.copyright {
  position: fixed;
  left: 130px;
  bottom: 56px;
}

.page {
  .theme-default-content {
    a {
      font-weight: 400;
      color: $green;
    }
  }


  img {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .mt-0 {
    margin-top: 0px;
  }

  .spacer {
    height: 16px;
  }

  .spacer-sm {
    height: 4px;
  }

  .toc-title {
    margin-top: 36px;
    padding-bottom: 5px;
    color: $main-gray;
    font-size: 26.4px;
    font-weight: bold;
    border-bottom: 1px solid #eaecef;
    img {
      width: 22px;
      margin: 0;
      margin-bottom: -2px;
      padding-right: 16px;
    }
  }

  pre {
    background-color: #191d24 !important;
  }

  ul {
    margin-left: 32px;
    padding-left: 0px;

    li {
      margin-bottom: 0px !important;

      a {
        font-weight: 400;
      }
      ul {
        margin-left: 0;
        li {
          list-style: none;
        }
        li:before{
          content: '·';
          margin-right: 8px;
        }
      }
    }
  }

  h1 {
    font-weight: bold;
    font-size: 48px;
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    margin-left: 8px;
    font-size: 18px;
  }

  h4:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: -4px 8px auto auto;
    vertical-align: middle;
    border-right: 2px solid $main-gray;
    border-top: 2px solid $main-gray;
    transform: rotate(45deg);
  }

  h5 {
    font-size: 16px;
  }

  h5:before {
    content: "🔎";
  }

  h6 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 68px !important;
    margin-bottom: 16px !important;
  }

  h6:before {
    content: "💡 ";
  }

  .h6-pt-0 {
    padding-top: 50px !important;
  }

  .construction{
    width: 4px;
    height: 4px;
  }

  .construction:before {
    content: " 🚧 작성 중 ";
    font-weight: bold;
  }

  code {
    color: $red;
  }

  u {
    font-style: normal;
    margin: 0;
    font-weight: 500;
    text-underline-position: under;
    text-decoration-color: lightgray;
  }

  .custom-block {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;

    h4 {
      font-size: 16px;
      margin: 0 !important;
    }

    h4:before {
      content: '';
      width: 4px;
      height: 4px;
      margin-top: -2px;
      border-right: 3px solid $main-gray;
      border-top: 3px solid $main-gray;
    }

    p, ul {
      margin-bottom: 0;
    }
    table{ 
      thead {
        tr {
          background-color: rgba($darkgray, 0.02);
        }
      }
      tbody{
        tr{
          background: white;
        }
      }
    }
    .custom-block-title {
      margin: 0 !important;
    }
  }

  .custom-block-title,
  .info-title {
    margin-bottom: 8px;
    img {
      margin: 0px 8px -5px 0;
      width: 22px;
    }
  }

  .tip {
    .custom-block-title {
      color: $darkgreen;
    }
  }

  .info {
    background-color: #f2fafd;
    color: $dark-gray;
    border-radius: 4px;
    border-left: 0.5rem solid #2a98b9;
    padding: 0.1rem 1.5rem;
    margin: 1rem 0;
    padding-top: 20px;
    padding-bottom: 20px;

    .info-title {
      color: #0d4859;
      font-weight: 600;
      background-size: 24px;
    }

    p {
      margin: 0;
    }

    ul{
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    thead {
      tr {
        background-color: rgba($darkgray, 0.1);
      }
    }
    tr:nth-child(2n) {
        background-color: rgba($darkgray, 0.02);
    }
  }
}