.theme-default-content:not(.custom) {
  max-width: 1000px;
}

.theme-default-content:not(.custom) li {
  margin-bottom: 16px;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 18px !important;
}

.sidebar-sub-headers a.sidebar-link {
  font-size: 16px !important;
}

h1, h2 {
  margin-bottom: 20px !important;
}

h3, h4 {
  margin-bottom: 16px !important;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.75;
}

img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.language-text {
  margin-bottom: 20px!important
}

.site-name {
  padding-left: 272px;
  background-repeat: no-repeat;
  background-image: url('C:\Users\lsis\Desktop\EdgeHub-박선영\workspace\edgehub_documents\docs\img\loginlogo-interactor.svg');
  background-position: center left;
  background-size: 256px;
}

.page-edit {
  text-align: center;
}

.page-edit:before {
  content: "CC-BY-NC-ND Licensed | Copyright © 2021-present Taeyoon Yu";
}

.page .toc-title {
  margin-top: 36px;
  padding-left: 36px;
  padding-bottom: 5px;
  color: #2c3e50;
  font-size: 26.4px;
  font-weight: bold;
  border-bottom: 1px solid #eaecef;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 24px;
  background-image: url('C:\Users\lsis\Desktop\EdgeHub-박선영\workspace\edgehub_documents\docs\img\icon\list.svg');
}
