$black = #191d24
$darkgray = #313945
$gray = #252b34
$lightgray = #3e4858
$blue = #0a78ff
$blue-hover = #0f68d6
$green = #29B24A
$darkgreen = #12401e
$darkblue = #0A85E0
$red = #f55547
$sidebar = #f7f9fc;
$main-gray = #252b34;